In [1]:
import pandas as pd
scoreDataFp = '/Users/eotles/Documents/workspace/Bracketology - March Madness/2k16/ScoreData_2k16.csv'
teamDataFp  = '/Users/eotles/Documents/workspace/Bracketology - March Madness/2k16/TeamData_2k16.csv'

In [2]:
data = pd.read_csv(scoreDataFp)
#ignore home/away
for team_col in ['Team 1', 'Team 2']:
    data[team_col] = data[team_col].str.replace('@', '')
data.head()

      Date        Team 1  Team 1 Score      Team 2  Team 2 Score Unnamed: 5
0  9/25/15      Lakehead            88    Manitoba            81        NaN
1  9/26/15      Lakehead            80    Manitoba            73        NaN
2  10/1/15      Lakehead            78    Winnipeg            73        NaN
3  10/2/15  Concordia QC            77  Queen's ON            76        NaN
4  10/2/15      Winnipeg            76    Lakehead            73        NaN

In [12]:
team_data = pd.read_csv(teamDataFp)
teams = list(team_data['Team Name'].unique())

In [5]:
class score_keeper(object):
    def __init__(self):
        self.score_dict = {}
    
    def add_game(self, game):
        for team1, _ in game.iteritems():
            for team2, score2 in game.iteritems():
                self._add_score(team1, team2, score2)
    
    #team 1 gives points to team 2
    def _add_score(self, team1, team2, score):
        if(self.score_dict.has_key(team1) == False):
            self.score_dict[team1] = {}
        if(self.score_dict[team1].has_key(team2) == False):
            self.score_dict[team1][team2] = 0
        self.score_dict[team1][team2] += score
        
scores = score_keeper()

for row_idx, row in enumerate(data.itertuples()):
    if(row[2] in teams and row[4] in teams):
        game = {row[2]: int(row[3]), 
                row[4]: int(row[5])}
        scores.add_game(game)

In [9]:
score_data = pd.DataFrame(scores.score_dict).fillna(0)
score_data = score_data.div(score_data.sum(axis=1), axis=0)

conv = score_data
for _ in xrange(50):
    conv = conv.dot(conv)

In [37]:
#Power Rankings
conv_info = pd.DataFrame(conv.ix[1])
conv_info = conv_info.rename(columns={'Ark Little Rock': 'PowerRank'})
#.sort_values(ascending=False)
pd.set_option('display.max_rows', len(conv_info))
print(conv_info)
pd.reset_option('display.max_rows')

                 PowerRank
Arizona           0.022868
Ark Little Rock   0.002995
Austin Peay       0.004256
Baylor            0.029942
Buffalo           0.006025
Butler            0.021720
California        0.022198
Chattanooga       0.003333
Cincinnati        0.018874
Colorado          0.021229
Connecticut       0.021668
Dayton            0.008481
Duke              0.023864
F Dickinson       0.003971
FL Gulf Coast     0.003668
Fresno St         0.003615
Gonzaga           0.004599
Hampton           0.002241
Hawaii            0.004966
Holy Cross        0.001868
Indiana           0.021770
Iona              0.004449
Iowa              0.023248
Iowa St           0.036529
Kansas            0.030539
Kentucky          0.009743
MTSU              0.003536
Maryland          0.019785
Miami FL          0.016208
Michigan          0.024086
Michigan St       0.019175
North Carolina    0.024152
Northern Iowa     0.011033
Notre Dame        0.020333
Oklahoma          0.027044
Oregon            0.025358
Oregon St         0.025318
Pittsburgh        0.015293
Providence        0.019248
Purdue            0.024144
SF Austin         0.003995
Seton Hall        0.018281
South Dakota      0.002035
Stony Brook       0.003874
Syracuse          0.018462
Temple            0.022702
Texas             0.029342
Texas A&M         0.017571
Texas Tech        0.024224
Tulsa             0.017579
UNC Asheville     0.003505
USC               0.024108
Utah              0.028726
VA Commonwealth   0.010693
Vanderbilt        0.017493
Villanova         0.022166
Virginia          0.016329
WI Green Bay      0.001916
West Virginia     0.023470
Wichita St        0.012606
Wisconsin         0.023317
Xavier            0.022023
Yale              0.003498